@use "vars";

$headings: h1 1.4em, h2 1.25em, h3 1em, h4 1em, h5 1em, h6 1em;
@each $h, $size in $headings {
  #{$h} {
    font-size: $size;
    font-weight: 600;
    margin: 0 0 0.25rem;
    padding: 0;
  }
}

p {
  margin: 0.75rem 0 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: vars.$highlight-color-text;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  // margin: 0 0 0 0.25em;
}

li::before {
  color: vars.$text-color-secondary;
  content: "\2013";
  margin-right: 0.5em;
}

blockquote {
  border-left: 4px solid vars.$border-color;
  margin: 1rem 0;
  padding: 0.5rem 0 0.5rem 1rem;
}

code {
  background-color: #eee;
  display: inline-block;
  font-size: 0.9em;
  padding: 0 0.25em;
}

header {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  text-align: center;

  &::after {
    border-bottom: 1px solid vars.$border-color;
    content: " ";
    display: block;
    margin: 1rem auto 0;
    width: 4rem;
  }
}

footer {
  color: vars.$text-color-secondary;
  font-size: 0.9rem;
  text-align: center;

  a,
  a:visited {
    color: vars.$text-color-secondary;
  }

  &::before {
    border-top: 1px solid vars.$border-color;
    content: " ";
    display: block;
    margin: 1rem auto 0.5rem;
    width: 4rem;
  }
}
