@use "vars";
@use "reset";

@use "elements";
@use "forms";
@use "pronouns";

html {
  // Set this on html to make it affect rem sizing
  font-size: vars.$base-font-size;
}

body {
  background-color: vars.$background-color;
  color: vars.$text-color;
  font-family: vars.$base-font-family;
  line-height: vars.$base-line-height;
  padding: 2rem;
}

// Base container
.container {
  margin: auto !important; // override .flex margin correction below
  max-width: vars.$site-width;
}
