@use "../style/vars";

.example {
  margin-bottom: 2rem;
}

@media all and (min-width: vars.$main-breakpoint-width) {
  .root {
    display: flex;
  }

  .example {
    flex: 1;
    padding-right: 1rem;
  }

  .editor {
    flex: 1;
    max-width: 28rem;
    padding-left: 1rem;
  }
}
