// TODO: this file is a giant mess but it works and all the "responsive" tech mostly functions so I'm leaving it for now

@use "../style/vars";

$names-min-width: 12rem;
$names-max-width: 14rem;

.editor {
  border: 2px solid vars.$highlight-color-block;
  border-radius: 4px;
  padding: 1rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.row {
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  @media all and (min-width: vars.$main-breakpoint-width) {
    display: flex;

    .title {
      flex: 1;
      line-height: 1.15rem;
      max-width: $names-max-width;
      min-width: $names-min-width;
      padding: 0 1rem 0 0;
      text-align: right;
    }

    .pronoun-help {
      display: block;
      margin-left: 0;
    }
  }

  input,
  select {
    flex: 1;
    min-width: 8rem;
  }
}

.title {
  font-weight: bold;
}

.pronoun-help {
  color: vars.$text-color-secondary;
  font-size: 0.85rem;
  font-weight: normal;
  margin-left: 0.25rem;

  .number {
    color: #222;
  }
}

.url {
  line-height: 1.3rem;
  margin-top: 1rem;
  text-align: center;

  a {
    display: block;
    font-size: 0.85rem;
  }
}
